* {
  margin: 5px;
  padding: 5px;
  transition: all 0.5s;
}
body {
  background-color: rgb(142, 142, 142);
}
/* de partidas ganadas */
.allGameContainer {
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
  background-image: url(/tikTakToe/img/pastel.png);
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center center;
 background-size: cover;
}

.panelControl {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 1px 1px 5px black;
  justify-content: space-around;
}
.scoreAndPlayer {
  border: 1px solid black;
}
.gamesPlayed {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  width: 300px;
  border-radius: 7px;
}
.scoreWins {
  box-shadow: 1px 1px 5px black;
  border-radius: 7px;
}
.firstPlayerScore {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  border-radius: 7px;
}
.secondPlayerScore {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  border-radius: 7px;
}

/* jugadores y botones */
.gameContainer {
  display: flex;
  border-radius: 7px;
}
.gamePlayer1 {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  border-radius: 7px;
}
.gamePlayer2 {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  border-radius: 7px;
}
.gameButtons {
  display: flex;
  flex-flow: column wrap;
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: large;
}
.buttonRefresh {
  background-color: rgba(250, 250, 0, 0.188);
  color: rgb(0, 0, 0);
  border-radius: 7px;
  font-size: large;
}
.buttonRest {
  background-color: rgba(236, 0, 236, 0.188);
  color: rgb(0, 0, 0);
  border-radius: 7px;
  font-size: large;
}
.puntajeJugadores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  font-size: xx-large;
}
.active1{
  background-color: rgb(255, 84, 84);
  color: black;
}
.active2{
  background-color: rgb(96, 255, 85);
}
/* juego en si */

.tikTakToe {
  box-shadow: 1px 1px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cuadricula de juego */
.parentTikTakToe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 600px;
  height: 600px;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenTikTakToe {
  max-width: 100px;
  
}
.selectorVs{
  background-color: rgba(245, 255, 254, 0);
  display: flex;
  flex-flow: column wrap;
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

@media (max-width:759px){
  * {
    margin: 1px;
    padding: 1px;
  }
  .allGameContainer {
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    display: flex;
    flex-flow: column wrap;
    background-color: aqua;
  }
  .gamesPlayed {
    box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
    border-radius: 7px;
  }
  .puntajeJugadores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    color: rgb(0, 0, 0);
    font-size: xx-large;
  }
  .parentTikTakToe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 250px;
    height: 250px;
  }
  .gameContainer {
    display: flex;
    border-radius: 7px;
    flex-flow: column wrap;
  }
  .panelControl {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 1px 1px 5px black;
    justify-content: space-around;
  }

.imagenTikTakToe {
  max-width: 50px;
}
h1{
  font-size: small;
  max-width: min-content;
}
h2{
  font-size: small;
  max-width: min-content;
}
h3{
  font-size: small;
  max-width: min-content;
}
h4{
  font-size: small;
  max-width: min-content;
}
h5{
  font-size: small;
  max-width: min-content;
}
.secondPlayerScore {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  border-radius: 7px;
}
.scoreAndPlayer {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.secondPlayerScore {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.firstPlayerScore {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.scoreAndPlayer {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.gamePlayer1 {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  border-radius: 7px;
  margin: 5px;
  padding: 2px;
}
.gamePlayer2 {
  box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.567);
  border-radius: 7px;
  margin: 5px;
  padding: 2px;
}

}

#containerToggle{
  margin: 0;
  padding: 0;
background-color: beige;
position: relative;
width: 50px;
height: 25px;
box-shadow: 3px 3px 3px gainsboro;
margin: 5px;
border-radius: 25px;
cursor: pointer;
}
.toggle{
  margin: 0;
  padding: 0;
position: absolute;
width: 25px;
height: 25px;
transform: scale(.7);
background-color: rgb(0, 34, 0);
border-radius: 25px;
box-shadow: 3px 3px 3px rgb(78, 78, 78);
}

#containerToggle.activeToggle .toggle{
  left: 25px;
}
#containerToggle.activeToggle{
  box-shadow: 5px 5px 5px rgb(47, 0, 0);
}
.batmanClass{
  background-image: url(/tikTakToe/img/batmanFondo.png);
  color: rgb(255, 0, 221);
  }
  
.boxBlanc{
  border: 1px solid white;
}